{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain "Module.YourModule.Admin" %}

{% block stylesheets %}
  {# include some external stylesheets #}
{#  <link rel="stylesheet" href="https:/static.example.com/dummy/an-external-stylesheet-example.css" type="text/css" media="all">#}
  {# include some local stylesheets #}
{#  <link rel="stylesheet" href="{{ asset('../modules/yourmodule/views/css/app.css') }}" type="text/css" media="all">#}
{% endblock %}

{% block content %}
  {{ dump(getFeaturesDataUrl) }}
  <div id="app"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>


    var getFeaturesDataUrl = {{ getFeaturesDataUrl|json_encode|raw }}
    var getProductsListDataUrl = {{ getProductListDataUrl|json_encode|raw }}
  </script>

  {# include some external JavaScript #}
{#  <script src="https://static.example.com/dummy/an-external-javascript-example.js"></script>#}

{#  #}{# include some local JavaScript #}
  <script src="{{ asset('../modules/va_bulkfeaturemanager/views/vue/js/chunk-vendors.js') }}" async defer></script>
  <script src="{{ asset('../modules/va_bulkfeaturemanager/views/vue/js/app.js') }}" async defer></script>
{% endblock %}
