{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain "Module.YourModule.Admin" %}

{% block stylesheets %}
  {# include some external stylesheets #}
{#  <link rel="stylesheet" href="https:/static.example.com/dummy/an-external-stylesheet-example.css" type="text/css" media="all">#}
  {# include some local stylesheets #}
{#  <link rel="stylesheet" href="{{ asset('../modules/yourmodule/views/css/app.css') }}" type="text/css" media="all">#}
{% endblock %}

{% block content %}
{#  {{ dump(gridForm) }}#}
  <div id="app"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
    var yourModule = {
      columns: {{ gridForm.columns|json_encode|raw }},
      actions: {{ gridForm.actions|json_encode|raw }},
      data: {{ gridForm.data|json_encode|raw }},
      pagination: {{ gridForm.pagination|json_encode|raw }},
      sorting: {{ gridForm.sorting|json_encode|raw }},
      filters: {{ gridForm.filters|json_encode|raw }},
      attributes: {{ gridForm.attributes|json_encode|raw }},
      view_options: {{ gridForm.view_options|json_encode|raw }}
    };
  </script>

  {# include some external JavaScript #}
{#  <script src="https://static.example.com/dummy/an-external-javascript-example.js"></script>#}

  {# include some local JavaScript #}
  <script src="{{ asset('../modules/va_bulkfeaturemanager/views/vue/js/chunk-vendors.js') }}" async defer></script>
  <script src="{{ asset('../modules/va_bulkfeaturemanager/views/vue/js/app.js') }}" async defer></script>
{% endblock %}
