{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% block content %}
  {% include '@Modules/va_bulkfeaturemanager/views/templates/admin/grid/grid-components.html.twig'%}

  {% include '@Modules/va_bulkfeaturemanager/views/templates/admin/common/js_feature_choice_type.html.twig'
  %}
  {% block top_menu %}
    {% include '@Modules/va_bulkfeaturemanager/views/templates/admin/common/top_menu.html.twig' %}
  {% endblock %}
  {{ form_start(bulkFeatureManagerForm) }}
  <div class="card">
    <h3 class="card-header">
      <i class="material-icons">settings</i> {{ 'Configuration'|trans({}, 'Modules.Demosymfonyformsimple.Admin') }}
    </h3>
    <div class="card-body">
      <div class="form-wrapper">
        {{ form_widget(bulkFeatureManagerForm) }}
      </div>
{#      <div class="row w-75 mx-auto">#}
{#        <div class="col">#}
{#          {% include '@PrestaShop/Admin/Common/Grid/grid.html.twig' with {'grid': featureProductsGrid} %}#}
{#        </div>#}
{#      </div>#}
      {% include '@Modules/va_bulkfeaturemanager/views/templates/admin/grid/grid.html.twig' %}
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary float-right" id="save-button" type="submit">
          {{ 'Save'|trans({}, 'Admin.Actions') }}
        </button>
      </div>
    </div>

  </div>
  {{ form_end(bulkFeatureManagerForm) }}
  {% block javascripts %}
    <script src="{{ asset('themes/default/js/bundle/pagination.js') }}"></script>
  {% endblock %}
{% endblock %}
