{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% block content %}
  {% include '@Modules/va_bulkfeaturemanager/views/templates/admin/grid/grid-components.html.twig'%}

  <script>
$(document).ready(function(){
  const choiceActionList = document.querySelector('#form_feature_method');
  const featureList = document.querySelector('#form_feature_id');
  const featureValuesList = document.querySelector('#form_feature_id_val');

  const manipulateInputsView = (showItems = true) => {
      if(showItems){
        featureValuesList.parentElement.parentElement.classList.remove('d-none');
        featureList.parentElement.parentElement.classList.remove('d-none');
      }else{
        featureValuesList.parentElement.parentElement.classList.add('d-none');
        featureList.parentElement.parentElement.classList.add('d-none');
      }
  }

  const checkSelectedAction = (element) => {
    const choiceActionSelectedOption = element.options[element.selectedIndex].value
    manipulateInputsView(true)

    if(choiceActionSelectedOption === 'remove_feature'){
      featureValuesList.parentElement.parentElement.classList.add('d-none');
    }
    if(choiceActionSelectedOption === 'delete_all'){
      manipulateInputsView(false)
      featureValuesList.parentElement.parentElement.classList.add('d-none');
    }
  }


  const loadFeatureValues = (featureValList, featureList, firstPageLoad = false) => {
    Array.from(featureValList.options).forEach(item => {
      item.dataset.feature_id === featureList.options[featureList.selectedIndex].value ? (item.hidden = false) : (item.hidden = true)
    })
    if(!firstPageLoad){
      Array.from(featureValList.options).every(item => {
        if(item.hidden === false){
          item.selected = true;
          return false;
        }else{
          item.selected = false;
        }
        return true
      })
    }

  }

  loadFeatureValues(featureValuesList, featureList, true)


  featureList.addEventListener('change', e => {
    loadFeatureValues(featureValuesList, featureList);
  });

  checkSelectedAction(choiceActionList)
  choiceActionList.addEventListener('change', e => {
    checkSelectedAction(choiceActionList)
  })

})
$(document).ready(function () {
  window.prestashop.component.initComponents([
    'Grid',
  ]);
  // Learn more about components in documentation
  // https://devdocs.prestashop.com/1.7/development/components/global-components/
  const grid = new window.prestashop.component.Grid('bulkFeatureManagerGrid');
  grid.addExtension(new window.prestashop.component.GridExtensions.ColumnTogglingExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.ExportToSqlManagerExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.FiltersResetExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.SortingExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.LinkRowActionExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.BulkActionCheckboxExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.SubmitRowActionExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.AsyncToggleColumnExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.BulkOpenTabsExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.ChoiceExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.FiltersSubmitButtonEnablerExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.ModalFormSubmitExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.ReloadListExtension());
  grid.addExtension(new window.prestashop.component.GridExtensions.SubmitBulkActionExtension());



});

  </script>
  {% block top_menu %}
    {% include '@Modules/va_bulkfeaturemanager/views/templates/admin/common/top_menu.html.twig' %}
  {% endblock %}
  {{ form_start(bulkFeatureManagerForm) }}
  <div class="card">
    <h3 class="card-header">
      <i class="material-icons">settings</i> {{ 'Configuration'|trans({}, 'Modules.Demosymfonyformsimple.Admin') }}
    </h3>
    <div class="card-body">
      <div class="form-wrapper">
        {{ form_widget(bulkFeatureManagerForm) }}
      </div>
{#      <div class="row w-75 mx-auto">#}
{#        <div class="col">#}
{#          {% include '@PrestaShop/Admin/Common/Grid/grid.html.twig' with {'grid': featureProductsGrid} %}#}
{#        </div>#}
{#      </div>#}
      {% include '@Modules/va_bulkfeaturemanager/views/templates/admin/grid/grid.html.twig' %}
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary float-right" id="save-button" type="submit">
          {{ 'Save'|trans({}, 'Admin.Actions') }}
        </button>
      </div>
    </div>

  </div>
  {{ form_end(bulkFeatureManagerForm) }}
  {% block javascripts %}
    <script src="{{ asset('themes/default/js/bundle/pagination.js') }}"></script>
  {% endblock %}
{% endblock %}
