{% extends '@PrestaShop/Admin/layout.html.twig' %}


{% block content %}
  <script>
    $(document).ready(function () {
      window.prestashop.component.initComponents([
        'Grid',
      ]);
      // Learn more about components in documentation
      // https://devdocs.prestashop.com/1.7/development/components/global-components/
      const grid = new window.prestashop.component.Grid('unitFeatureConfigurationGrid');
      grid.addExtension(new window.prestashop.component.GridExtensions.ColumnTogglingExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.ExportToSqlManagerExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.FiltersResetExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.SortingExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.LinkRowActionExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.BulkActionCheckboxExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.SubmitRowActionExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.AsyncToggleColumnExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.BulkOpenTabsExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.ChoiceExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.FiltersSubmitButtonEnablerExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.ModalFormSubmitExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.ReloadListExtension());
      grid.addExtension(new window.prestashop.component.GridExtensions.SubmitBulkActionExtension());



    });

  </script>
<div class="py-2">
  <a class="btn btn-primary" href="{{ path('va_bulkfeaturemanager') }}">
    {{ 'Back to previous page'|trans({}, 'Admin.Actions') }}
  </a>
  <a class="btn btn-primary" href="{{ path('va_bulkfeaturemanager') }}">
    <i class="material-icons">add</i>  {{ 'Add new feature'|trans({}, 'Admin.Actions') }}
  </a>
<h1>Unit feature configuraiton</h1>
</div>

  <div class="card">
    <div class="card-body">
      <div class="form-wrapper">

      </div>
      <div class="row">
        <div class="col">
          {% include '@PrestaShop/Admin/Common/Grid/grid.html.twig' with {'grid': featuresGrid} %}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary float-right" id="save-button" type="submit">
          {{ 'Save'|trans({}, 'Admin.Actions') }}
        </button>
      </div>
    </div>

  </div>
  {% block javascripts %}
    <script src="{{ asset('themes/default/js/bundle/pagination.js') }}"></script>
  {% endblock %}
{% endblock %}

